<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Data\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add 
			name="Bluelime" 
			connectionString="Server=.\SQLSERVER2019;Database=Bluelime;Trusted_Connection=True;"
			providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>